<% present participation do |presenter| %>

<li class="participation">
  <%= content_tag :span, class:["name", presenter.gender].join(" ") do %>
    <%= presenter.name %>
  <% end %>
  <span class="actions">
    <span class="delete"><%= presenter.delete_link %></span>
  </span>
</li>

<% end %>
