<% present note do |presenter| %>

<li class='note'>
  <span class='text'><%= link_to note.text, note_path(note.id) %></span>
  <span class="actions">
    <span class="edit"><%= presenter.edit_link %></span>
    <span class="delete"><%= presenter.delete_link %></span>
  </span>
  <span class='tags'><%= presenter.tags %></span>
</li>
<!-- be able to delete notes -->

<% end %>
