<% present relation do |presenter| %>

<li class="relation">
  <%= content_tag :span, class:["target", presenter.gender].join(" ") do %>
    <%= presenter.target %>
  <% end %>
  <span class="references comments"><%= presenter.references_comments %></span>
  <span class="type"><%= presenter.type %></span>
</li>

<% end %>
