<% present relation do |presenter| %>

<li class="relation">
  <span class="target name"><%= relation.target_name %></span>
  <span class="references comments"><%= presenter.references_comments %></span>
  <span class="type"><%= presenter.type %></span>
</li>

<% end %>
