<% present @relation do |presenter| %>

<div class="relation">
  <h1><%= presenter.title %></h1>

  <%= render @references %>

  <div class="reference new form">
    <h2>Add Reference</h2>
    <%= render "references/form", reference:@reference %>
  </div>
</div>

<% end %>
