<% present article do |presenter| %>

<li class="article">
  <%= content_tag :span, class:["name", presenter.gender].join(" ") do %>
    <%= presenter.name %>
  <% end %>
  <span class="actions">
    <span class="edit"><%= presenter.edit_link %></span>
  </span>
</li>

<% end %>
