<% present @event do |presenter| %>

<div class="event">
  <h1><%= @event.title %></h1>

  <span class="parent"><%= presenter.parent %></span>

  <ul class="participations"><%= render @event.participants %></ul>
</div>

<div class="participation new form">
  <%= render "participations/form", participation:@participation, articles:@articles %>
</div>

<% end %>
