<% present mention do |presenter| %>

<li class="mention event">
  <span class="target title"><%= presenter.target_title %></span>
  <span class="content"><%= presenter.content %></span>
</li>

<% end %>
