<% present universe do |presenter| %>

<%= content_tag :li, class:presenter.clazz(selected) do %>
  <span class="title">
    <%= link_to universe.title, universe_path(universe.id) %>
  </span>
<% end %>

<% end %>
