<% present universe do |presenter| %>

<%= content_tag :div, class:presenter.clazz(selected) do %>
  <span class="title">
    <%= link_to universe.title, universes_path(id:universe.id) %>
  </span>
<% end %>

<% end %>
