<% present remark do |presenter| %>

<li class="remark">
  <span class="content"><%= presenter.content %></span>
  <span class="actions">
    <span class="edit"><%= presenter.edit_link %></span>
  </span>
</li>

<% end %>
